<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionando Pedido</title>
</head>
<body>
    <form method="post">
        Nome: <input type="text" name="nome" 
            placeholder="Digite seu nome!"><br>
        Telefone: <input type="text" name="telefone" 
            placeholder="Digite seu telefone!"><br>
        Cpf: <input type="text" name="cpf" 
            placeholder="Digite seu cpf!"><br>
        Dataentrega: <input type="date" name="dataentrega"
            placeholder="Para quando você quer sa encomenda?"><br>
        Datapedido: <input type="date" name="datapedido" 
            placeholder="Insira o dia de hoje!"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>