<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionando Bolo</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        Massa: <input type="text" name="massa" 
            placeholder="Digite a massa do seu bolo!"><br>
        Recheioum: <input type="text" name="recheioum" 
            placeholder="Digite o recheio um!"><br>
        Recheiodois: <input type="text" name="recheiodois" 
            placeholder="Digite o recheio dois!"><br>
        Kilos: <input type="text" name="kilos"
            placeholder="Com quantos kilos você deseja seu bolo?"><br>
        Cobertura: <input type="text" name="cobertura" 
            placeholder="Insira a cobertura!"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>